# Default ignored files
/shelf/
/workspace.xml
.venv/
.vscode/
!.vscode/extensions.json
.idea/
.env
*.log
*.swp

# Python
.python-version
__pycache__/
*.pyc
doctrees
dist
equinixmetalpy.egg-info

# client gen
node_modules/
testscript.py
changelist.md

# html docs
docs/build
